<content>
  <mat-toolbar color="primary">
    <span>Undercast</span>
    <span class="toolbar__spacer"></span>
    <button mat-raised-button (click)="openTorrentForm()">
      <mat-icon>library_add</mat-icon> add torrent
    </button>
  </mat-toolbar>

  <div *ngIf="isTorrentFormOpen" id="torrent__add">
    <mat-form-field appearance="outline">
      <mat-label>Magnet or link to .torrent</mat-label>
      <input name="source" [(ngModel)]="torrent.source" matInput />
    </mat-form-field>
    <button mat-flat-button (click)="addTorrent()">Go</button>
  </div>

  <mat-divider></mat-divider>

  <div *ngFor="let t of torrentList" class="torrent__list">
    <mat-card>
      <mat-card-subtitle>{{ t.name }}</mat-card-subtitle>
      <mat-progress-bar
        mode="determinate"
        value="{{
          (t.bytesCompleted / (t.bytesMissing + t.bytesCompleted)) * 100
        }}"
      >
      </mat-progress-bar>
      <br />
      <mat-card-subtitle>
        {{ t.episodes.length }} episodes
        <ul *ngFor="let e of t.episodes">
          <li>{{ e.name }}</li>
        </ul>
      </mat-card-subtitle>
    </mat-card>
  </div>
</content>
